In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
print(X_train)
print(Y_train)
print(X_test)
print(Y_test)

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]
          charges
1163   2200.83085
196    5649.71500
438   12592.53450
183    7419.47790
1298   5261.46945
...           ...
763    3070.80870
835    7160.33030
1216   5415.66120
559    1646.42970
684    4766.02200

[936 rows x 1 columns]
      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
1261   28  37.100         1         1           0
494    21  25.700         4         1           1
97     55  38.280         0         1           0
418    64  39.160         1         1           0
920    62  25.000         0         0           0

[402 rows x 5 columns]
          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
1261   3277.16100
494   17942.10600
97    10226.28420
418   14418.28040
920   13451.12200

[402 rows x 1 columns]

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)
X_train
X_test

array([[ 0.89459283, -0.08863026, -0.06746417,  1.02378711, -0.50466988],
       [ 0.53757957, -0.22180837, -0.06746417, -0.97676557, -0.50466988],
       [ 0.60898222,  1.57449152,  0.76341038,  1.02378711,  1.98149332],
       ...,
       [ 1.10880078,  1.20785059, -0.89833872,  1.02378711, -0.50466988],
       [ 1.75142463,  1.34905148, -0.06746417,  1.02378711, -0.50466988],
       [ 1.60861933, -0.92299913, -0.89833872, -0.97676557, -0.50466988]])

In [18]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(criterion='squared_error',max_features=None,n_estimators=100)
regressor=regressor.fit(X_train,Y_train)

C:\Users\User\AppData\Local\Temp\ipykernel_17900\3452699904.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor=regressor.fit(X_train,Y_train)

In [19]:
Y_predict=regressor.predict(X_test)
Y_predict

array([10228.6014518 , 10075.0645595 , 45038.745983  , 13009.163684  ,
        9865.3614404 , 10920.6279068 ,  2182.1188995 , 11230.4806734 ,
        7812.6248447 ,  5384.956295  ,  7463.6895595 , 18492.2159958 ,
       10496.0704553 ,  7277.5215548 , 24074.7414919 , 13662.7108394 ,
       12627.2499232 ,  3587.5438262 ,  6642.6085976 , 33861.995881  ,
       23868.1536885 , 14485.6782361 , 10118.6776321 , 26953.9697504 ,
        2918.8391768 ,  5384.0630613 ,  5164.0630106 ,  7869.021808  ,
        3712.730539  , 10081.7469924 ,  7860.7217748 , 48271.0420386 ,
       14111.1418751 , 13291.9805803 , 17764.0180582 ,  3997.1553967 ,
        8761.6838725 , 38127.2015664 , 39660.9724675 ,  2767.2213901 ,
        9112.9497173 ,  4683.2307923 , 20764.9313595 , 47705.5369085 ,
       37386.474927  ,  3732.8451585 , 13653.4084769 ,  6668.096156  ,
        4770.415268  , 12338.8666499 ,  3304.3605715 ,  5553.2342023 ,
       26187.6282061 , 48628.7388155 , 11762.2049965 ,  9191.6350332 ,
        3479.4009057 , 10585.2631967 , 10235.6612786 , 16591.400225  ,
        1799.0175576 , 47479.1887667 , 15397.6258277 , 19012.8665566 ,
       12849.9124018 ,  9813.5500025 , 33597.827193  , 39581.2028456 ,
        3098.3444195 , 12173.8796018 , 17878.3068703 , 11810.0660152 ,
       16897.4298636 , 14486.5130453 , 12997.4806872 , 15185.3828152 ,
        8388.1962328 , 14957.5685005 , 19762.820158  , 46543.215378  ,
       11547.6979175 , 49948.0852904 ,  3264.0048526 ,  9806.0781883 ,
       41005.7859666 , 19352.268089  ,  3539.742494  ,  3249.0464929 ,
       13664.594055  , 39627.4465582 ,  5449.631085  , 13750.3429668 ,
        2966.346901  ,  9690.7171287 , 10329.8699947 ,  4190.084283  ,
       43739.4215865 , 52531.7743203 ,  5490.2338495 , 10938.7175095 ,
        2878.7361399 ,  8545.9944795 ,  8208.7013769 , 39778.1147453 ,
       27678.7540065 ,  4129.7204795 , 11282.828235  ,  7452.9079724 ,
       11549.08717   , 45179.3672035 , 12406.7082116 ,  7314.0710583 ,
        9983.7504894 , 34473.774262  , 48126.0067222 ,  7126.408322  ,
        2565.2400145 , 10964.166357  , 22360.1246848 ,  9671.5589651 ,
       42378.9992486 , 12772.9261188 , 14586.9271145 ,  8231.1119968 ,
       10555.6725508 ,  5640.2898054 , 27177.3928227 , 27116.9552504 ,
       48293.769436  ,  1673.584252  , 16809.0937882 ,  3621.3632122 ,
        6308.6664069 ,  9124.2507613 , 40489.515124  , 39187.6410232 ,
       23258.7324357 , 16297.9683312 , 24073.033996  ,  7413.2149341 ,
        2032.212995  , 11855.827496  , 10909.8569064 , 11398.1702387 ,
        6964.4130986 , 14311.6099615 , 22555.8001136 , 13931.2055377 ,
        1571.402115  , 12782.3406858 ,  6170.3425645 , 39346.071862  ,
       10215.4343652 ,  8025.8416519 ,  4352.2571375 ,  8260.655621  ,
        3002.9979316 ,  6519.9953214 , 13662.7108394 , 10862.6125542 ,
        7230.5340245 , 13253.9743185 , 13143.934192  ,  9208.8541785 ,
        4125.9682207 , 10388.2775478 , 17070.0014593 ,  6749.9869049 ,
        4452.479663  ,  2190.41363233,  7474.5746261 ,  7394.8774739 ,
       11774.179089  ,  2294.9069573 , 11830.0843881 , 11509.8006972 ,
        5141.519637  ,  7164.448093  , 27179.14855   ,  1662.7737385 ,
       17033.3324204 ,  6724.312913  , 11407.0709875 ,  9150.1951216 ,
        9703.1172267 , 28184.2744119 ,  2603.0071692 ,  3053.9370248 ,
       14167.8334875 , 10653.4745078 , 41862.4811142 ,  6669.4793182 ,
        5353.1925975 , 24392.6468951 ,  2955.7473116 ,  2994.8494498 ,
        9600.9131672 ,  6869.9903817 ,  7903.169265  ,  4365.531253  ,
       11743.5296106 , 46245.3620867 , 16596.1457408 , 18913.5886005 ,
       11152.7827649 , 43413.0668531 ,  4910.7568701 ,  9849.0733649 ,
        5986.0451971 ,  1919.3663015 ,  8845.3892948 , 13717.7401863 ,
        5959.3479588 ,  4363.6693583 ,  6565.733211  , 12598.060849  ,
        6952.9975883 ,  7328.5719466 , 13981.7663335 ,  6892.4096059 ,
       14635.6318891 ,  7899.5411675 , 12062.7421518 ,  7519.810226  ,
       13163.7875475 , 14332.5072365 , 22801.7026839 , 11987.0806715 ,
        7543.3193535 ,  2753.1384585 ,  9381.0921864 ,  8158.288608  ,
       14806.757281  ,  6161.6182756 ,  4769.5423727 ,  7205.963025  ,
       13403.5914555 , 34402.663196  ,  5881.4264625 , 13550.1223592 ,
        5848.2926625 , 37168.1024233 ,  8465.3293424 ,  7404.7172532 ,
       13035.3835479 , 10189.8748425 ,  3395.8411242 ,  8918.1402725 ,
        2634.4954428 ,  6606.9924694 , 19554.464329  , 46322.5974007 ,
        5258.2916228 ,  3395.792279  ,  4857.4575218 ,  1596.721869  ,
        8415.9759631 ,  2984.89336033,  8772.0942012 ,  9402.2998884 ,
        8863.8523359 , 24897.4751282 , 45779.929778  , 16700.6726802 ,
        6563.0461055 , 11176.9776805 , 45087.9740774 , 10538.1101651 ,
       39322.081534  ,  1692.5386945 , 38483.5135061 ,  5646.2038011 ,
       12867.8616796 ,  6020.5343346 , 39940.6075857 ,  6820.7215057 ,
        9886.311628  , 10922.8898464 ,  3633.8188445 , 16250.6443602 ,
       12746.4703193 , 11021.656318  , 13551.7699293 , 13410.690178  ,
        7617.0825012 ,  5586.3626202 ,  9945.1367465 , 22677.8978706 ,
        4008.0282481 ,  1667.7566235 ,  2511.5663475 , 46659.6486065 ,
       12004.8539695 ,  4772.8684342 , 13883.9125762 , 13586.417346  ,
       34655.2483148 ,  6804.4523625 ,  5164.7401714 ,  8965.2579705 ,
        3204.8964432 ,  3989.8740475 , 20716.938778  , 16715.281925  ,
       13481.6667025 ,  2755.5564045 ,  3248.9830845 , 11213.5290468 ,
        9972.3184844 , 15690.6931667 , 20112.4527775 ,  9770.0177152 ,
       16719.9883069 ,  2371.6587236 , 13845.1823902 , 10267.6540522 ,
       17172.1677079 ,  2338.4012694 ,  6768.754752  , 46359.8342315 ,
        4334.319428  ,  6055.7891354 ,  1799.2766255 , 12953.9095519 ,
        6385.5357606 , 11987.4932845 , 46394.5051639 , 17894.041482  ,
        9210.5408047 , 45327.2729301 , 16208.7681927 , 11033.410379  ,
       11021.9957461 ,  6754.3119318 , 28564.7648565 ,  4623.7496627 ,
       14368.9649609 ,  2200.6176795 , 16339.5574024 ,  3036.897609  ,
       24393.038404  , 12736.2673604 ,  8586.7574968 , 40489.03042   ,
        5736.8046599 ,  5243.836337  , 29676.678712  ,  3176.9064829 ,
       10449.9012253 ,  4511.1519433 , 11896.8993672 ,  4335.0685045 ,
        7700.7237358 ,  5877.04056   , 46048.3868527 , 10611.7494567 ,
       43760.8431073 , 39263.9972611 ,  5881.4264625 , 12032.1299799 ,
        1992.2130514 ,  4290.0805733 ,  3061.4072554 ,  9878.8781122 ,
       46166.0686307 , 11541.6324345 ,  1898.837201  , 13431.2271129 ,
        2111.2998565 , 11943.4385525 ,  9479.4439582 ,  2441.469324  ,
        3685.5792959 , 36847.947001  ,  7017.0944474 ,  2220.707671  ,
       40923.5698281 , 12554.3062312 , 43845.0903661 , 11774.6205455 ,
        8776.6010534 ,  2841.9771908 ,  2128.453388  , 17598.1087374 ,
        5135.2763288 ,  1887.684693  , 10371.3846729 ,  7298.8284843 ,
        6074.938048  ,  6659.1394995 ,  8711.2952888 , 43873.1078633 ,
        2843.268908  , 12419.804612  ,  7517.26169271, 13088.8186964 ,
       10947.0537905 ,  5135.0130945 , 16990.0618938 , 13293.3278318 ,
       19062.1767103 , 19317.0250073 ])

In [20]:
from sklearn.metrics import r2_score
r2=r2_score(Y_test,Y_predict)
r2

0.8594117831861723

In [21]:
import pickle
pickle.dump(regressor,open('finalized_RandomForest_model.sav','wb'))

In [22]:
loaded_model=pickle.load(open('finalized_RandomForest_model.sav','rb'))
preinput=sc.transform([[40,28.5,2,1,0]])
result=loaded_model.predict(preinput)
print(preinput)
print(result)

[[ 0.03776102 -0.3614047   0.76341038  1.02378711 -0.50466988]]
[6704.7282465]

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(