In [37]:
import pandas as pd

In [38]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [41]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [42]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [43]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [44]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)
print(X_train)
print(Y_train)
print(X_test)
print(Y_test)

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]
          charges
1163   2200.83085
196    5649.71500
438   12592.53450
183    7419.47790
1298   5261.46945
...           ...
763    3070.80870
835    7160.33030
1216   5415.66120
559    1646.42970
684    4766.02200

[936 rows x 1 columns]
      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1         1           0
610    47  29.370         1         0           0
569    48  40.565         2         1           1
1034   61  38.380         0         1           0
198    51  18.050         0         0           0
...   ...     ...       ...       ...         ...
1261   28  37.100         1         1           0
494    21  25.700         4         1           1
97     55  38.280         0         1           0
418    64  39.160         1         1           0
920    62  25.000         0         0           0

[402 rows x 5 columns]
          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
1261   3277.16100
494   17942.10600
97    10226.28420
418   14418.28040
920   13451.12200

[402 rows x 1 columns]

In [30]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)
X_train
X_test

array([[ 0.89459283, -0.08863026, -0.06746417,  1.02378711, -0.50466988],
       [ 0.53757957, -0.22180837, -0.06746417, -0.97676557, -0.50466988],
       [ 0.60898222,  1.57449152,  0.76341038,  1.02378711,  1.98149332],
       ...,
       [ 1.10880078,  1.20785059, -0.89833872,  1.02378711, -0.50466988],
       [ 1.75142463,  1.34905148, -0.06746417,  1.02378711, -0.50466988],
       [ 1.60861933, -0.92299913, -0.89833872, -0.97676557, -0.50466988]])

In [31]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(criterion='squared_error',max_features='sqrt',n_estimators=100)
regressor=regressor.fit(X_train,Y_train)

C:\Users\User\AppData\Local\Temp\ipykernel_17900\1883729470.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor=regressor.fit(X_train,Y_train)

In [32]:
Y_predict=regressor.predict(X_test)
Y_predict

array([10346.4316724 ,  9709.2347757 , 43684.924488  , 13896.2014404 ,
       10042.362133  , 11687.6131117 ,  2303.1012135 , 11636.0339164 ,
        7133.838097  ,  6175.779978  ,  6670.9773729 , 15499.6312074 ,
        8249.9726952 ,  6109.3431102 , 24211.6252247 , 11767.707181  ,
       13271.8180263 ,  4152.6375158 ,  7213.3839124 , 30435.4893317 ,
       24266.4433709 , 16636.5324239 , 10411.4433128 , 26219.9911111 ,
        3676.0192274 ,  7668.39129   ,  5446.843131  ,  8196.8008249 ,
        3663.889166  , 10886.442873  ,  8180.0977858 , 45433.1920996 ,
       14763.1693089 , 14295.3918055 , 18579.2187274 ,  4495.3949602 ,
        9909.6033692 , 37744.2192869 , 39303.0316705 ,  2121.125881  ,
        6065.0215605 ,  3910.336603  , 20975.5041863 , 46201.8058345 ,
       35873.4698347 ,  3770.4483171 , 11752.391633  ,  7080.1061022 ,
        5368.7805325 , 13428.1233177 ,  3682.0943525 ,  5962.481188  ,
       25846.3843755 , 46561.1705092 , 11684.0354544 ,  9577.8032072 ,
        3351.2863199 , 10631.6808901 , 10125.7490076 , 15281.7620087 ,
        1998.7363988 , 42439.078461  , 15967.4442662 , 19208.6075263 ,
       11744.1991637 ,  9919.469739  , 30972.0893443 , 39258.8723156 ,
        4392.670413  , 10722.4262975 , 15177.4432411 , 12290.6941507 ,
       16766.6016948 , 15069.6849343 , 13818.5782283 , 15018.9683209 ,
        9928.2764263 , 14009.7027093 , 20108.8847524 , 44513.458333  ,
       11539.2289825 , 48596.0265361 ,  4211.9537213 ,  9211.3031899 ,
       40606.7935766 , 19869.9479851 ,  6924.131538  ,  3400.1816398 ,
       13556.2743082 , 37321.1325466 ,  6594.6116929 , 15215.4914723 ,
        3344.7920804 ,  9574.7785798 , 10862.7976437 ,  4636.8910209 ,
       42457.914423  , 41244.5839938 ,  5415.3450198 , 11505.0574908 ,
        3388.2730218 ,  8032.187588  ,  7849.3632387 , 37902.7011127 ,
       26041.2821257 ,  3955.4613498 , 11254.826218  ,  4258.3136293 ,
       12054.2823666 , 44096.886696  , 11763.51704   ,  7817.7079151 ,
       10525.2379247 , 33138.0305078 , 44441.362762  ,  9165.0870291 ,
        2199.2277795 , 11277.3554038 , 17474.8499481 ,  9849.267199  ,
       42344.5200575 , 11509.4140287 , 13847.81877   ,  8615.2576881 ,
        9180.8584094 ,  5736.7015624 , 24148.159046  , 24999.4034842 ,
       46703.4462215 ,  1898.5773745 , 12854.096211  ,  2330.0789767 ,
        7605.2736087 ,  9103.2797113 , 33401.9298231 , 34853.5007206 ,
       26176.1021522 , 12614.1645046 , 24019.2005191 ,  4403.6984976 ,
        2149.1467025 , 12200.3970651 , 11413.8224432 , 11361.0325322 ,
        6792.3404609 , 14181.323891  , 20625.9420779 , 12265.3827403 ,
        2092.7212581 , 11476.4782599 ,  6081.0867995 , 37252.8817635 ,
        9964.3298261 ,  5919.5739954 ,  3987.056098  ,  7936.5390096 ,
        4027.5601692 ,  5561.3883936 , 11767.707181  , 10419.5753679 ,
        6216.1479047 , 13275.3467143 , 13884.7375926 ,  9446.3561692 ,
        3824.5838214 ,  8435.5103295 , 17216.0930721 ,  9045.0509459 ,
        5993.6110517 ,  2235.26715175,  7365.8785542 ,  6409.8246778 ,
       10575.8183828 ,  2869.8133403 ,  7324.8434959 ,  8344.3819265 ,
        4796.9108511 ,  6826.2944559 , 31063.6027837 ,  1810.7650709 ,
       16775.6766101 ,  6962.642789  , 11243.996066  ,  6120.7057463 ,
        8169.0266799 , 28226.3293576 ,  4397.3358503 ,  2969.2752174 ,
       14491.3532407 , 12035.1501719 , 41622.7371266 ,  8712.4892428 ,
        5419.5142095 , 26801.7129642 ,  2849.2312603 ,  2964.2286205 ,
        8231.0246085 ,  6938.3911729 , 10625.2612872 ,  5190.6195644 ,
       12022.9547994 , 43094.9870957 , 17992.4077474 , 19043.2170079 ,
       12783.0421917 , 43073.225085  ,  4533.6251592 ,  9879.7460665 ,
        8960.7806603 ,  3374.033783  ,  9247.0443347 , 14220.2689522 ,
        7046.2031519 ,  4165.6535654 ,  6578.811086  ,  5655.1460022 ,
        6794.3642747 ,  6446.4602268 , 13713.757644  ,  8127.4833985 ,
        9762.3694106 ,  8192.0961039 , 11747.9539187 ,  8101.528116  ,
       12977.6001351 , 14334.8824076 , 19261.5384797 , 12539.8725137 ,
        6915.1010539 ,  2934.5161382 ,  5938.4670711 ,  7998.378737  ,
       14516.7032274 ,  9196.0944116 ,  6010.445985  ,  7803.943251  ,
       12951.6593823 , 32919.2700759 ,  5916.511733  , 11411.3020569 ,
        6509.2601309 , 36205.9816444 , 10088.7094708 ,  8899.7827603 ,
       10434.3039242 , 10320.1705998 ,  3367.5033168 ,  8689.2517393 ,
        5102.9238813 ,  6608.3130035 , 20012.6032974 , 44352.8716901 ,
        6105.8081079 ,  6510.1760399 ,  3949.6213005 ,  1603.496312  ,
        8951.5353134 ,  3159.44427108,  6502.228655  , 10598.1491778 ,
        8799.2701957 , 24728.269116  , 43057.931376  , 16008.9047127 ,
        6501.0614765 , 11022.5479385 , 42336.737298  , 10385.9752082 ,
       39335.6040905 ,  1299.099619  , 37827.9512395 ,  6192.3669038 ,
       12669.4683393 ,  8150.2148426 , 39439.1261597 ,  5323.4206649 ,
        9926.088303  ,  9471.5405209 ,  3698.1192148 , 14538.3017548 ,
       12376.2066926 , 11648.2400964 , 14805.5812069 , 13612.206369  ,
        7750.1129478 ,  6211.41264   ,  9059.6351491 , 22964.5896529 ,
        6281.3806683 ,  1937.6795624 ,  3301.4437724 , 46572.0277785 ,
       11433.638611  ,  4467.2128782 , 17129.9001988 , 14367.8370718 ,
       33860.3230728 ,  6912.6784784 ,  6392.0169755 ,  9213.5396139 ,
        4736.3328919 ,  4812.7066685 , 20562.3927573 , 17326.0691071 ,
       13698.643121  ,  2911.3748077 ,  3837.6116459 ,  9714.8312174 ,
       10674.9624724 , 15788.5114318 , 19898.363134  ,  7881.2113237 ,
       16685.8472642 ,  2591.856306  ,  7088.381972  , 10788.5765616 ,
       16582.6566972 ,  3535.7518218 ,  8041.4765596 , 46035.574341  ,
        4338.9514267 ,  4767.8565805 ,  2276.1541719 , 13811.7231686 ,
        4513.0690135 , 12019.7923356 , 42832.1495626 , 18917.0680414 ,
        9639.6588928 , 41917.6058632 , 17809.1828235 , 12755.1184044 ,
       10200.5659975 ,  7622.1433215 , 28440.2570256 ,  4475.7633591 ,
       14177.0713618 ,  2446.8278979 , 16872.2509032 ,  3849.0473917 ,
       26224.6638282 ,  8295.1347513 ,  5272.2774209 , 39400.4333785 ,
        8125.5368384 ,  5229.7568855 , 31937.3490182 ,  4680.8290145 ,
        9425.103743  ,  3796.8061973 , 12981.8481062 ,  3524.2424855 ,
        7180.198564  ,  6993.4070729 , 45026.3792864 , 12065.7960226 ,
       35095.0637981 , 38021.8819426 ,  5913.0354    , 10079.8265051 ,
        2009.8506963 ,  5882.1197204 ,  3842.3509148 ,  9510.9882656 ,
       46220.7672822 , 11399.652559  ,  2798.2919783 , 13810.3009721 ,
        2091.9285075 , 12895.0625398 ,  9960.3228376 ,  2074.3784885 ,
        4779.7164201 , 35908.9384045 ,  7792.0124925 ,  1933.9308795 ,
       39247.2222175 , 11828.3439627 , 43557.2461528 , 11515.414832  ,
        7543.9063819 ,  2566.2522159 ,  2177.6139955 , 14546.6434767 ,
        5962.5597772 ,  2347.023253  , 11080.3428683 ,  7115.606855  ,
        7755.5091652 ,  9422.6601698 ,  9125.6663865 , 40806.5702371 ,
        4604.8946466 , 16718.4876017 ,  6991.7937284 , 15142.0819362 ,
       11476.8001978 ,  8238.517661  , 17299.5453101 , 13298.6562499 ,
       18794.5252741 , 19031.8617364 ])

In [33]:
from sklearn.metrics import r2_score
r2=r2_score(Y_test,Y_predict)
r2

0.8684376483900561

In [35]:
import pickle
pickle.dump(regressor,open('finalized_RandomForest_model.sav','wb'))

In [36]:
loaded_model=pickle.load(open('finalized_RandomForest_model.sav','rb'))
preinput=sc.transform([[40,28.5,2,1,0]])
result=loaded_model.predict(preinput)
print(preinput)
print(result)

[[ 0.03776102 -0.3614047   0.76341038  1.02378711 -0.50466988]]
[6807.1970058]

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(